.App {
  text-align: center;
  background-color: yellow;
}

.tabs-container {
  margin: 20px auto;
  width: 80%;
  background-color: green;
}

.react-tabs__tab-list {
  margin-bottom: 10px;
}

.react-tabs__tab {
  cursor: pointer;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px 5px 0 0;
  background: #8d36cf;
}

.react-tabs__tab--selected {
  background: #ed4040;
  border-bottom: 1px solid #fff;
}

.react-tabs__tab-panel {
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 0 0 5px 5px;
  background: #e458d3;
}
